body {
	background: #00142d;
	color: white;
}

header {
	display: inline-block;
	width: 100%
}

.menu {
	position: relative;
	background: url(../img/header-background.png);
}

.menu:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
}

.menu-item {
  display: inline-block;
  padding-right: 150px;
  text-align: right;
}

.menu-item li {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  font-size: 15px;
}

a {
	text-decoration: none;
	color: white;
}

a:focuse {
	color: grey;
}

.icon {
	padding: 0;
	padding-top: 20px;
}

header h1 {
	display: inline-block;
	padding-left: 200px;

}

.hello {
	text-align: center;
}

.min-op {
	display: inline-block;
	background: url(../img/wrapper1-background.png);
	position: relative;
	margin-left: 50px;
}

.blok {
	display: inline-block;
	font-size: 15px;
	text-align: left;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 20px; 
}

.news .welcome, .news-blok{
	display: inline-block;
	font-size: 15px;
	vertical-align: top;
}

.news {
	margin-left: 50px;
}

.latest {
	display: inline-block;
	text-align: left;
	width: 300px;
	font-size: 19px;
}

footer {
	position: relative;
	background: url(../img/header-background.png);
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}

.footer-menu-item {
  display: inline-block;
  padding-right: 230px;
  text-align: right;
  font-size: 12px;
}

.footer-menu-item li {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  
}

footer p {
	padding-left: 250px 
}

button {
	background: #00a8f5;
	color: white;
	border: none;
	margin-right: 2px;
	height: 30px;
}

data {
	color: #00a8f5;
}